# --- Environment & Sensitive Data ---
.env
db.sqlite3
*.log

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# --- IDEs ---
.vscode/
.idea/

# --- Project Specific ---
static/admin/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

staticfiles/
