option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cloud_approval.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cloud_approval.settings
    DJANGO_DEBUG: "False"
    DJANGO_SECRET_KEY: "django-eb-secret-key-doc-approval-2026-xk9mz"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "doc-approval-bucket"
    AWS_COGNITO_USER_POOL_ID: "us-east-1_nw4zFEke2"
    AWS_COGNITO_APP_CLIENT_ID: "3077k3amn2qhgqvdfb05501ll8"
    AWS_SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:590183817281:DocumentApprovalTopic"
    AWS_DYNAMODB_TABLE_NAME: "DocumentApprovalLogs"
    AWS_LAMBDA_FUNCTION_NAME: "ProcessDocumentApproval"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_seed_users:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_users"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
