option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cloud_approval.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cloud_approval.settings
    ENV: "production"
    DJANGO_DEBUG: "False"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "doc-approval-bucket"
    AWS_DYNAMODB_TABLE_NAME: "DocumentApprovalLogs"
    AWS_LAMBDA_FUNCTION_NAME: "ProcessDocumentApproval"
    AWS_SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:590183817281:DocumentApprovalTopic"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
