option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cloud_approval.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cloud_approval.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_seed_users:
    command: "source /var/app/venv/staging-*/bin/activate && python manage.py seed_users"
    leader_only: true
