option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: "production"
    DJANGO_SETTINGS_MODULE: cloud_approval.settings
    DJANGO_DEBUG: "True"
    AWS_REGION: us-east-1
    AWS_STORAGE_BUCKET_NAME: doc-approval-bucket
    AWS_SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:590183817281:DocumentApprovalTopic"
    AWS_DYNAMODB_TABLE_NAME: DocumentApprovalLogs
    AWS_LAMBDA_FUNCTION_NAME: ProcessDocumentApproval
    AWS_COGNITO_USER_POOL_ID: us-east-1_nw4zFEke2
    AWS_COGNITO_APP_CLIENT_ID: "3077k3amn2qhgqvdfb05501ll8"
